APP_ENV=prod
DEBUG=False
SECRET_KEY=django-insecure-1=django-insecure-1=django-insecure-1=django-insec
ALLOWED_HOSTS=example.com,
DATABASE_ENGINE=django.db.backends.mysql
DATABASE_NAME=mysql
DATABASE_USER=root
DATABASE_PASSWORD=example
DATABASE_HOST=fba-db
DATABASE_PORT=3306

