{% extends "base.html" %}
{% load bootstrap5 %}
{% block content %}
  <h1>My Budget List</h1>
  <h2><a class="btn btn-success" href="{%url 'budget-add' %}">Create new Budget</a></h2>
  {% if budget_list %}
  <ul>
    {% for budget in budget_list %}
      <li>
        <a href="{{ budget.get_absolute_url }}">{{ budget.name }}</a> 
      </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>You don't have any budget :( yet! <a href="{%url 'budget-add' %}">Add new.</a> </p>
  {% endif %}
  {% include "budget_app/pagination_control.html" %}
  
  {% if shared_budgets_list %}
  <h1>Budgets shared with You</h1>
  <ul>
    {% for budget in shared_budgets_list %}
      <li>
        <a href="{{ budget.get_absolute_url }}">{{ budget.name }} by {{budget.owner.user.username}}</a> 
      </li>
    {% endfor %}
  </ul>
   
  {% else %}
    <p>nobody shared their budget</p>
  {% endif %}
  {% include "budget_app/pagination_control.html" with  page_obj=shared_budgets_list paginator=shared_paginator is_paginated=is_shared_paginated page_param_name="shared_page" %}

{% endblock %}